/* var.css */
:root {
  --vp-c-brand-1: #60a5fa; /* 比原颜色稍深一些，饱和度稍低 */
  --vp-c-brand-2: #3b82f6; /* 原始颜色 */
  --vp-c-brand-3: #2563eb; /* 比原颜色稍浅一些，饱和度稍低 */
}

.dark {
  --vp-c-brand-1: #60a5fa; /* 在深色模式下，颜色稍浅 */
  --vp-c-brand-2: #3b82f6; /* 原始颜色 */
  --vp-c-brand-3: #2563eb; /* 在深色模式下，颜色稍深 */
}
/* 以前的vp-c-brand已弃用 */

:root {
  /* hero标题渐变色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);

  /*hero logo背景渐变色 */
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

/* .vitepress/theme/style/var.css */
.VPDoc h1 {
  background: -webkit-linear-gradient(10deg, #bd34fe 5%, #e43498 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* var.css */
.vp-doc a {
    text-decoration: none;
}

/* .vitepress/theme/style/var.css */

/* VPFeatures 页卡悬浮效果 */
.VPFeatures .items .item {
  transition: transform 0.3s;
}

.VPFeatures .items .item:hover {
  transform: translateY(-5px);
}

/* .vitepress/theme/style/var.css */

.rendered-md img { 
    max-width: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.rendered-md {
    display: none;  /* 默认隐藏 */
}

.rendered-md.active {
    display: block; /* 只有在 active 状态下才显示 */
    max-width: 100%;
}

/* .vitepress/theme/style/var.css */

.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image {
  z-index: 9999 !important;/* 给的值是21，但是实测盖不住，直接999 */
}

/* 也可自行单独修改brand按钮 */
/* :root {
  --vp-button-brand-border: #F6CEEC;
  --vp-button-brand-text: #F6CEEC;
  --vp-button-brand-bg: #D939CD;

  --vp-button-brand-hover-border: #F6CEEC;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #D939CD;

  --vp-button-brand-active-border: #F6CEEC;
} */